*{
    margin: auto;
    background: linear-gradient(
    90deg,
    rgba(198, 74, 210, 1) 11%,
    rgba(222, 53, 53, 1) 61%,
    rgba(218, 150, 24, 1) 100%
  );
}
.card{
    width: 300px;
    height: 300px;
    perspective: 1000px;
    margin: auto;
}
.inner-card{
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: 0.5s;
    transform-style: preserve-3d;
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.3);
}
.card:hover .inner-card{
    transform: rotateY(180deg);
}
.card-front, .card-back{
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}
.card-back{
    text-align: center;
    background-color: blue;
    color: white;
    transform: rotateY(180deg)

}
